@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  gap: 100px;
  background-color: black;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 100px;
  font-family: "oswald";
}

.section {
  display: flex;
  gap: 50px;
}

.name {
  font-size: 40px;
  font-weight: bold;
  color: #bf302f;
}

.text {
  color: white;
  text-decoration: none;
}

.text:hover {
  color: #bf302f;
  text-decoration: underline #bf302f;
  transition: all 0.5s ease;
}

.main {
  display: flex;
  gap: 100px;
  align-items: center;
  width: 100%;
  padding: 0 200px;
}

.pfp {
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-family: "oswald";
  color: white;
  font-size: 55px;
}

.name-2 {
  color: #bf302f;
}

h2 {
  font-family: "oswald";
  color: white;
  font-size: 40px;
}

.develop {
  color: #bf302f;
}

p {
  font-family: "oswald";
  color: white;
  font-size: 15px;
}

.buttons {
  display: flex;
  gap: 20px;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bf302f;
  border-radius: 100%;
  padding: 10px 12px;
}

.size {
  color: #bf302f;
  font-size: 20px;
}

.border:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
  background-color: #bf302f;
  box-shadow: 2px 2px 10px #bf302f;
}

.border:hover .size {
  color: black;
  transition: all 0.3s ease;
}

.text-border {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #bf302f;
  border-radius: 30px;
  width: 150px;
  padding: 10px 15px;
  background-color: black;
  text-decoration: none;
}

.hire {
  color: #bf302f;
  font-family: "oswald";
  font-size: 15px;
  letter-spacing: 5px;
}

.text-border:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
  background-color: #bf302f;
  box-shadow: 2px 2px 10px #bf302f;
}

.text-border:hover .hire {
  color: black;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  body {
    height: 1000px;
  }

  .section {
    display: none;
  }

  .header {
    padding: 0px 50px;
  }

  .main {
    flex-direction: column;
    gap: 50px;
  }

  .pfp {
    width: 300px;
    height: 300px;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 30px;
  }
}

@media (max-width: 1920px) {
  .main {
    padding: 0 100px;
  }

  .pfp {
    width: 400px;
    height: 400px;
  }
}
