@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  display: flex;
  gap: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.first-page {
  background-image: url(./img/142853-ancient-japan-zen-temple-live-wallpaper.jpg);
  width: 1850px;
  height: 900px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 0px 80px;
}

ul {
  display: flex;
  gap: 50px;
  list-style: none;
  font-family: "Inter";
  font-size: 18px;
  color: white;
}

.button {
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
}

.book {
  font-family: "inter";
  font-size: 15px;
  font-weight: bold;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
  height: 700px;
}

p {
  font-family: "inter";
  font-size: 20px;
  color: white;
}

h1 {
  font-size: 70px;
  font-family: "inter";
  color: white;
  font-weight: bold;
  width: 600px;
  text-align: center;
}

.button {
  background-color: white;
  padding: 15px 20px;
  border-radius: 30px;
}

.explore {
  font-family: "inter";
  font-size: 15px;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon {
  width: 100px;
  height: 100px;
}

.button:hover {
  background-color: grey;
  transition: all 1s ease;
}

li:hover {
  color: gray;
  transition: all 1s ease;
  cursor: pointer;
}

.desc {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title1 {
  font-family: "inter";
  font-size: 15px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.762);
}

.title2 {
  font-size: 30px;
  font-family: "inter";
  font-weight: bold;
  width: 380px;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lorem {
  font-family: "inter";
  font-size: 15px;
  font-weight: bold;
  width: 450px;
  color: gray;
}

.button-section {
  display: flex;
  gap: 10px;
}

.button-1 {
  background-color: rgba(0, 0, 0, 0.84);
  padding: 15px 25px;
  border-radius: 30px;
}

.button-2 {
  background-color: grey;
  padding: 15px 25px;
  border-radius: 30px;
}

.explore-2 {
  font-family: "inter";
  font-size: 15px;
  font-weight: bold;
  color: white;
}
